<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<script type='text/javascript'>
  const preview_image = event => {
    const reader = new FileReader();
    reader.onload = function () {
      const output = document.getElementById('outputimage');
      output.src = reader.result;
    }
    reader.readAsDataURL(event.target.files[0]);
  };

</script>

<div class="overlay">
  <div class="default">

    <h3 style="font-size: 2rem; text-align: center; margin: 0 0 -150px 0; color: white">Thanks {{name}}.<br>
      Profile updated!</h3>
    <lottie-player src="/images/done.json" id="done" background="transparent" speed="1"
      style="width: 400px; height: 400px;" autoplay></lottie-player>
  </div>
</div>


<div class="container">

  <div class="card">
    <h3>Your Dog</h3>
    <form action="/ownersignup-dog" method="post" enctype="multipart/form-data" id="form-container">

      <img src="" alt="" id="outputimage" />
      <div class="uploadpic">
        <input type="file" accept="image/*" name="photo" onchange="preview_image(event)" required="required" />
      </div>

      <div class="input-container">
        <input type="#{type}" id="#{label}" name="name" required="required" />
        <label for="name">Name</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <input type="#{type}" id="#{label}" name="age" required="required" />
        <label for="age">Age</label>
        <div class="bar"></div>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="gender" value="male" checked />
          <span>Male</span>
        </label>
        <label>
          <input type="radio" name="gender" value="female" />
          <span>Female</span>
        </label>
      </div>


      <div class="input-container">
        <select name="breed" class="cardbreed">
          <option value="" disabled selected hidden id="breed">Breed</option>
          {{#each list}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
          <option value="Other">Other / Mixed / Mutt</option>
        </select>
        <div class="bar"></div>

      </div>

      <div class="input-container">
        <input type="#{type}" id="#{label}" name="description" required="required" autocomplete="off" />
        <label for="description">Description</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <input type="#{type}" id="#{label}" name="timeslots" required="required" />
        <label for="timeslots">Time Slot</label>
        <div class="bar"></div>
      </div>

      <div class="errormsg">
        {{#if errorMessage}}
        {{ errorMessage }}
        {{/if}}
      </div>

      <div class="button-container">
        <button class="bt-signup" id="signupdone"><span>Save</span></button>
      </div>
    </form>

  </div>

  <script type='text/javascript'>

    document.querySelector('.bt-signup').addEventListener('click', () => {
      if ($('form')[0].checkValidity() == true) {
        document.querySelector('.overlay').style.display = "block"

        setTimeout(function () {
          window.location('/ownersignup-done');
        }, 5000);
      }

    });

  </script>