<h1>Fill in your info</h1>

<form action="/ownersignup/{{this._id}}" method="post" enctype="multipart/form-data">

  <label>Pic</label>
  <input type="file" name="photo">

  <label for="">Name:</label>
  <input type="text" name="name" value="Your name">

  <label for="">Street:</label>
  <input type="text" name="street" value="Your house street">

  <label for="">Number:</label>
  <input type="text" name="houseNumber" value="House street">

  <label for="">PLZ:</label>
  <input type="text" name="zip" value="ZIP code">

  <label for="">City:</label>
  <input type="text" name="city" value="Your city">

  <input type="submit" value="SAVE">
</form>

