<div class="default">
<h2>Signup</h2>
 
<form action="/signup" method="POST" id="form-container">
  <label for="email">Email</label>
  <input id="email" type="text" name="username" placeholder="Your email">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <label for="type">Dog Owner or Dog Walker? </label>
  <select name ="type">
    <option value="">--Please choose an option--</option>
    <option value="dog-walker">Dog Walker</option>
    <option value="dog-owner">Dog Owner</option>
  </select>
 
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>
 
  <button>Create account</button>
 
  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>
</div>