<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<script type='text/javascript'>
  const preview_image = event => {
    const reader = new FileReader();
    reader.onload = function () {
      const output = document.getElementById('outputimage');
      output.src = reader.result;

    }
    reader.readAsDataURL(event.target.files[0]);
  }
</script>

<div class="overlay">
  <div class="default">

    <h3 style="font-size: 2rem; text-align: center; margin: 0 0 -150px 0; color: white">Thanks {{name}}.<br>
      Profile updated!</h3>
    <lottie-player src="/images/done.json" id="done" background="transparent" speed="1"
      style="width: 400px; height: 400px;" autoplay></lottie-player>
  </div>
</div>


<div class="container">

  <div class="card">
    <h3>Your (walker) Infos</h3>
    <form action="/walkersignup/{{this._id}}" method="post" enctype="multipart/form-data" id="form-container"
      autocomplete="off">

      <img src="" alt="" id="outputimage" />

      <div class="uploadpic">
        <input type="file" accept="image/*" name="photo" onchange="preview_image(event)" required="required" />
      </div>

      <div class="input-container">
        <input type="#{type}" id="#{label}" name="name" required="required" />
        <label for="name">Name</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <input type="#{type}" id="#{label}" name="description" required="required" />
        <label for="description">Description</label>
        <div class="bar"></div>
      </div>

      <div class="errormsg">
        {{#if errorMessage}}
        {{ errorMessage }}
        {{/if}}
      </div>

      <div class="button-container">
        <button class="bt-signup"><span>Save</span></button>
      </div>
    </form>
  </div>


  <script type='text/javascript'>

    document.querySelector('.bt-signup').addEventListener('click', () => {
      if ($('form')[0].checkValidity() == true) {
        document.querySelector('.overlay').style.display = "block"

        setTimeout(function () {
          window.location('/walkersignup-done');
        }, 5000);
      }

    });

  </script>