<div class="default index">


<h1>wlkr.</h1>
<h2>Dog walks around your area.</h2>

<lottie-player src="/images/walk.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>

<div>
  
<a href="/signup"><button class="bt-index-signup">Sign Up</button></a>
<a href="/login"><button class="bt-index-login">Log In</button></a>


{{!-- <a href="/logout">Log Out</a> --}}
</div>

</div>


