@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800&display=swap');

:root {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;

}

body {
  margin: 0;
  padding: 0;
  line-height: 1.25;
  background-color: #fff;
}

h1 {
  color: white;
  font-size: 5rem;
  font-weight: 800;
  margin: -0.7rem;
  padding: 0;
}

h2 {
  color: #FF93AA;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  color: #FF93AA;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 0 2rem 0;
}

h4 {
  text-transform: uppercase;
  color: #FF93AA;
  font-size: 1rem;
  font-weight: 700;
  margin: 3rem 0 2rem 0;
}

h5 {
  text-transform: uppercase;
  color: #FF93AA;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1rem 0 0.5rem 0;
}

a {
  text-decoration: none;
}

lottie-player {
  margin: 3rem;
}

div.index {
  background-color: #1E1C4B;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.bt-index-login,
.bt-index-signup {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  padding: 1rem 3rem 1rem 3rem;
  margin: 0.5rem;
  border-radius: 3rem;
  border: none;
  text-transform: uppercase;
  background-color: #7447FA;
  outline: none;
}

.bt-index-signup {
  border: none;
  color: #fff;
  background-color: #7447FA;
  transition: all .2s ease;
}

.bt-index-signup:hover {
  background-color: #B4B6FF;
}

.bt-index-login {
  color: #fff;
  border: 2px solid #7447FA;
  background-color: transparent;
  transition: all .2s ease;
}

.bt-index-login:hover {
  color: #fff;
  border: 2px solid #B4B6FF;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all .2s ease;
}

.bt-signup {
  transition: all .2s ease;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  padding: 1rem 3rem 1rem 3rem;
  margin: 0.5rem;
  border-radius: 3rem;
  border: none;
  text-transform: uppercase;
  background-color: #7447FA;
  color: #fff;
  outline: none;
  min-width: 15rem;
  margin: 2rem 0 3rem 0;
}

.bt-signup:hover {
  background-color: #B4B6FF;
  border-radius: 1rem;
}

.bt-edit {
  transition: all .2s ease;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  padding: 1rem 3rem 1rem 3rem;
  margin: 0.5rem;
  border-radius: 3rem;
  color: #FF93AA;
  border: 2px solid #FF93AA;
  background-color: transparent;
  text-transform: uppercase;
  outline: none;
  min-width: 15rem;
  margin: 2rem 0 3rem 0;
}

.logout {
  color: #C4C4C4;
  text-transform: uppercase;
  font-weight: 700;
  margin: -1rem 0 0 0;
}


a {
  color: #7447FA;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #7447FA;
  width: 100vw;
  z-index: 2;
}

nav span {
  display: flex;
  align-items: center;
}

nav span a {
  color: white;
}

nav p {
  font-size: 2rem;
  margin: 1rem 2rem 1rem 2rem;
}

div.default {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

div.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.divlink {
  position: absolute;
  width: 20vw;
  height: 20vw;
  text-decoration: none;
  z-index: 2;
  /* background-color: yellow; */
}

div.doggrid {
  content: '';
  border-radius: 1rem;
  margin: 0.8rem;
  width: 20vw;
  height: 20vw;
  min-width: 150px;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: red; */
}

div.doggrid:hover {
  border-radius: 2rem;
  margin: 0.8rem;
  width: 20vw;
  height: 20vw;

  transition: .2s ease-in-out;


  /* background-color: red; */
}

.dognames {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  border-radius: 20px;
  margin: -0.5rem 0 0 -0.5rem;
  background-color: #1E1C4B;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
}

p.account {
  margin: 0rem 0 0 0;
  text-align: center;
  color: #C4C4C4;
  font-size: 0.9rem;
}

div.errormsg {
  font-size: 0.9rem;
  color: #FF93AA;
  margin: 0 0 1rem 0;
  max-width: 300px;
}

p.home {
  color: white;
  font-weight: 700;
}

.profilepic {
  margin: 3rem 0 1rem 0;
  width: 100px;
  border-radius: 10rem;
}

.profilepic.main {
  margin: 3rem 0 0rem 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10rem;
}

.address {
  margin: 0;
  color: #C4C4C4;
  font-size: 0.9rem;
}

.address img {
  height: 15px;
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.profhead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%vw;
}

.description {
  margin: 3rem 0 2rem 0;
  line-height: 1.5;
  max-width: 80vw;
  ;
}

.overlay {
  z-index: 2;
  margin: -3rem 0;
  position: absolute;
  background-color: rgba(116, 71, 250, 0.9);
  display: none;
}

.profileview {
  width: 100vw;
  height: 100vh;
  /* background-color: #FF93AA; STYLE THISSSS LATETRTETETETTETETETETE AAAA  */
}

span.gender {
  margin: 0 0 0 5px;
}

.dogdetails {
  display: flex;
  align-items: center;
  justify-content: center;

}

.square {
  border-radius: 1rem;
  border: 1px solid #FF93AA;
  width: 70px;
  height: 70px;
  padding: 5px;
  margin: 20px 10px 0 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square span {
  color: #FF93AA;
}

.profile-content {
  max-width: 500px;
  margin: 0;
}

.doggrids {
  position: relative;
  background-size: cover;
  padding: 3rem 0 0 0;
  background-color: #fff;
  height: 99vh;
}

.break {
  margin: 6rem 0 0 0;
}

.icon {
  margin: 0.7rem 2rem 0 0;
}





/* FORM - - - - - - - - - - - - - - - - - - - - - - - - - - */


.container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin-top: 3rem; */
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative;
  min-width: 70vw;
}

.cardbreed {
  /* margin-top: 3rem; */
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative;
  min-width: 70vw;
  background-color: transparent;
}


.card .input-container {
  z-index: 1;
  position: relative;
  margin: 1rem 0 1rem 0;
}

.card .input-container input {
  outline: none;
  position: relative;
  background: none;
  width: 100%;
  height: 2.5rem;
  border: 0;
  color: #1E1C4B;
}

.card .input-container input:focus~label {
  color: #7447FA;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}

.card .input-container input:focus~.bar:before,
.card .input-container input:focus~.bar:after {
  width: 50%;
}

/* .card .input-container input:invalid~label {
  color: #7447FA;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
} */

.card .input-container input:valid~label {
  color: #7447FA;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}

.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #1E1C4B;
  font-size: 1rem;
  line-height: 3rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #1E1C4B;
  width: 100%;
  height: 1px;
  margin: 0 0 0.2rem 0;
}

.card .input-container .bar:before,
.card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #7447FA;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.card .input-container .bar:before {
  left: 50%;
}

.card .input-container .bar:after {
  right: 50%;
}

.card select {
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  width: 15rem;
  padding: 12px 0 0;
  position: relative;
  margin: 1rem 0 0.3rem 0;
  border: 0px;
  outline: 0px;
}


/* RADIO - - - - - - - - - - - - - - - - - - - - - - - - - - */


div.radio {
  margin: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}

.radio label {
  margin: 0 0.5rem 0 0.5rem;
  outline: none;
  display: -webkit-box;
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.2rem;
}

.vertical {
  flex-direction: column;
}

label input {
  position: absolute;
  left: -9999px;
}

label input:checked+span:before {
  box-shadow: inset 0 0 0 1rem #7447FA;
}

label span {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 10rem;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

label span:before {
  display: -webkit-box;
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.7rem;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 1px #1E1C4B;
}

/* PICTURE - - - - - - - - - - - - - - - - - - - - - - - - - - */

#outputimage {
  position: absolute;
  z-index: 1;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50rem;
  pointer-events: none;
  object-fit: cover;
}


.uploadpic {
  cursor: pointer;
  position: relative;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  background-image: url(../images/cameraadd.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #C4C4C4;
  border-radius: 50rem;
}

.uploadpic input {
  width: 100px;
  height: 100px;
  border-radius: 50rem;
  opacity: 0;
}

.small-profilepic {
  margin: 0rem 0 1rem 0;
  width: 70px;
  height: 70px;

  object-fit: cover;
  border-radius: 10rem;
}

.small-profilepic.floating {
  margin: 175px 0 0 60px;
  position: absolute;
  transition: all .2s ease-in-out;
}

.small-profilepic.floating:hover {
  margin: 165px 0 0 50px;
  position: absolute;
  width: 80px;
  height: 80px;

}

.uploadedpic-dog {
  margin: 0rem 0 1rem 0;
  left: 30%;
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #C4C4C4;
  border-radius: 50rem;
}




@media (min-width: 768px) {

  .card {
    min-width: 350px;
    /* background-color: red; */
  }

  .cardbreed {
    min-width: 350px;
  }

}