@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800&display=swap');

:root {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.25;
  background-color: #fff;
}

h1 {
  color: white;
  font-size: 5rem;
  font-weight: 800;
  margin: -0.7rem;
  padding: 0;
}

h2 {
  color: #FF7D99;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  color: #FF7D99;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 0 2rem 0;
}

a {
  text-decoration: none;
}

lottie-player {
  margin: 3rem;
}

div.index {
  background-color: #1E1C4B;
}

.bt-index-login,
.bt-index-signup {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  padding: 1rem 3rem 1rem 3rem;
  margin: 0.5rem;
  border-radius: 3rem;
  border: none;
  text-transform: uppercase;
  background-color: #41DDFF;
  outline: none;
}

.bt-index-signup {
  border: none;
  background-color: #41DDFF;
}

.bt-index-signup:hover {
  background-color: #7CD8FF;
}

.bt-index-login {
  color: #41DDFF;
  border: 2px solid #41DDFF;
  background-color: transparent;
}

.bt-signup {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  padding: 1rem 3rem 1rem 3rem;
  margin: 0.5rem;
  border-radius: 3rem;
  border: none;
  text-transform: uppercase;
  background-color: #7447FA;
  color: #fff;
  outline: none;
  min-width: 15rem;
  margin: 3rem 0 0 0;
}

a {
  color: #7447FA;
}

nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background-color: #7447FA;
  width: 100vw;
}

nav p {
  font-size: 2rem;
  margin: 1rem 2rem 1rem 2rem;
}

div.default {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

div.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.doggrid {
  border-radius: 1rem;
  margin: 0.5rem;
  width: 20vw;
  height: 20vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p.account {
  margin: 2rem 0 0 0;
  text-align: center;
  color: #C4C4C4;
  font-size: 0.9rem;
}

div.errormsg {
  font-size: 0.9rem;
  color: #FF7D99;
  margin: 0 0 1rem 0;
  max-width: 5rem;
}

p.home {
  color: white;
  font-weight: 700;
}

.profilepic {
  margin: 3rem 0 1rem 0;
  width: 100px;
  border-radius: 10rem;
}










/* FORM - - - - - - - - - - - - - - - - - - - - - - - - - - */


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}


.card {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card .input-container {
  position: relative;
  margin: 1rem 0 1rem 0;
}

.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 2.5rem;
  border: 0;
  color: #1E1C4B;
}

.card .input-container input:focus~label {
  color: #7447FA;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}

.card .input-container input:focus~.bar:before,
.card .input-container input:focus~.bar:after {
  width: 50%;
}

.card .input-container input:valid~label {
  color: #7447FA;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}

.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #1E1C4B;
  font-size: 1rem;
  line-height: 3rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #1E1C4B;
  width: 100%;
  height: 1px;
  margin: 0 0 0.2rem 0;
}

.card .input-container .bar:before,
.card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #7447FA;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.card .input-container .bar:before {
  left: 50%;
}

.card .input-container .bar:after {
  right: 50%;
}

.card select {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  width: 15rem;
  padding: 12px 0 0;
  position: relative;
  margin: 1rem 0 0.3rem 0;
  border:0px;
  outline:0px;
}


/* RADIO - - - - - - - - - - - - - - - - - - - - - - - - - - */


div.radio {
  margin: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}

.radio label {
  margin: 0 0.5rem 0 0.5rem;
  outline: none;
  display: -webkit-box;
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.2rem;
}

.vertical {
  flex-direction: column;
}

label input {
  position: absolute;
  left: -9999px;
}

label input:checked+span:before {
  box-shadow: inset 0 0 0 1rem #7447FA;
}

label span {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 10rem;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

label span:before {
  display: -webkit-box;
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.7rem;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 1px #1E1C4B;
}

/* PICTURE - - - - - - - - - - - - - - - - - - - - - - - - - - */


.uploadpic {
  position: relative;
  left: 30%;
  width: 100px;
  height: 100px;
  background-image: url(../images/cameraadd.svg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 60px;
  background-color: #C4C4C4;
  border-radius: 50rem;
}

.uploadpic input {
  width: 100px;
  height: 100px;
  border-radius: 50rem;
  opacity:0;
}









